#events {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  .events__header {
    margin-bottom: 4rem;
  }
  .event-selector {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }
  .react-calendar {
    color: black;
    button {
      color: black !important;
      line-height: normal;
      list-style: none;
    }
    button.react-calendar__month-view__days__day--neighboringMonth {
      color: #757575 !important;
    }
  }
  .event-card {
    background: white;
    height: 100%;
    min-height: 355px;
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      color: black;
    }
  }
}
