#events {
  background-color: _palette(blk);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  .events__header {
    margin-bottom: 4rem;
  }
  .event-selector {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }
  .react-calendar {
    color: _palette(blk);
  }
  .event-card {
    background: _palette(wht);
    height: 100%;
    min-height: 355px;
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      color: _palette(blk-true);
    }
  }
}
