#partners {
  background-image: url('../../images/studio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 5rem 2rem;

  .partners__header {
    background-color: _palette(blk);
    padding: 10px 15px;
    margin-bottom: 4rem;
    &--text {
      margin-bottom: 1rem;
    }
  }

  .partners__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
    @include breakpoint(xsmall) {
      grid-template-columns: repeat(1, 1fr);
    }
    align-items: center;
    justify-items: center;

    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
  }

  .partner-detail {
    position: relative;
    width: 18rem;
    height: 24rem;
  }

  .partner-detail__backdrop {
    background-color: _palette(hk-yellow);
    width: 18rem;
    height: 24rem;
    transform: rotate(5deg);
    position: relative;
    z-index: -2;
  }

  .partner-detail__content {
    background-color: _palette(wht);
    color: _palette(blk);
    box-shadow: 0px 0px 20px -5px _palette(blk);
    position: absolute;
    top: 0;
    left: 0;

    padding: 1.5rem;
    margin-bottom: 3rem;
    width: 18rem;
    height: 24rem;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;

    @include breakpoint(medium) {
      width: 100%;
    }

    h3 {
      margin: 0;
      color: _palette(blk-true);
    }
  }
}
