#team {
  background-color: #8246aa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 5rem 2rem;

  .team__header {
    margin-bottom: 5rem;
  }
  .team-members {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
  }
  .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    @include breakpoint(small) {
      width: 100%;
    }
    .member__img {
      border-radius: 50%;
      max-width: 175px;
      margin-bottom: 1.2rem;
    }
  }
}
